<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Listas Dobles</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex justify-content-center" href="" Match="NavLinkMatch.All">
                <i class="fs-4 bi bi-arrow-left-right" style="height: 45px"></i> Operaciones
            </NavLink>
        </div>
    </nav>
</div>

